<a href="https://colab.research.google.com/github/sudheer-k-r/python/blob/main/day1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# first day
# terminologies
# data type
# mutable vs Immutable
# operater
# string formatting

In [ ]:
print("hello")
print()

hello

In [ ]:
myuser ="sudheer"
company ="futurence"

print("name ", myuser,"company", company)
print(f"hey my company is {company} email is {myuser}")
print("hey user {}". format(myuser))
# can also use index with format()

name  sudheer company futurence
hey my company is futurence email is sudheer
hey user sudheer

In [ ]:
a = 14.3
ans = f"{a}"
ans2="{}".format(a)
print(ans)
print(type(ans))

14.3
<class 'str'>

In [ ]:
2*3//2*5/2-2

5.5

In [ ]:
#comparasion operaters
x =10

x==10
x != 20

True

In [ ]:
# logical 

# conditions , and operater, or operater, bitwise operaters , And opertaers (left to right precedence )

# & , | 

# bitwise left shift(multiplication) and right shift(division ) 

11>>1

31>>2

# number * 2 **bit 
11<<2

# bitwise xor

44

In [ ]:
# memebership & identity 

"b" in "ban"
# not in

True

In [ ]:
# identity => to validate data type 

#is, is not , checks the memory address

# logical operaters precesense(and will come first than or )

In [ ]:
#slicing operator

city ="BANGLORE"

city[-1]

'BANGLORE'

In [ ]:

city[0::2]
city[0:6:-1]
city[-4:5:-1]

''

In [ ]:
a = input()
b = input()

2
3
<class 'int'>

In [ ]:
str1 ="hello"
ans =""
for i in range(1,len(str1)-1):
    if str1[i]==str1[i+1]:
      continue
    else:
      ans +=str1[i-1]

print(ans)

hl

In [ ]:
# str1 ="ookhjrh   ll "
# ans =""
# l = len(str1)
# j=-1
# for i in range(0, l):
#   if j< 0:
#     j = j+1
#   if (str1[i]==str1[j]):
#     i = i+2
#     j = j+2
#   else:
#      ans += str1[j]
#     #  j =j+1

# print(ans)


# str1 ="ookhj   ll "
# ans =""
# l = len(str1)
# j=-1
# for i in range(0, l):
#   if (str1[i]==str1[j]) or j < 0:
#     i = i+1
#     j = j+1;
#   else:
#      ans += str1[i]
#     #  j =j+1

# print(ans)

kjhll

In [ ]:
for i in range(0,5):
  for j in range(0,i):
    print("*", end =" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i):
    print("*", end =" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
char1="A"
for i in range(0,5):
  for j in range(0,i):
    print(chr(ord(char1)+j), end =" ")
  print()

A
A B
A B C
A B C D

In [ ]:
char1="A"
for i in range(0,5):
  for j in range(0,i):
    print(chr(ord(char1)+j), end =" ")
    char1 =chr(ord(char1)+j)
  print()

A
A B
B C E
E F H K

In [ ]:
char1="A"
for i in range(5,0,-1):
  for j in range(0,i):
    print(chr(ord(char1)+j), end =" ")
  print()

A B C D E
A B C D
A B C
A B
A

In [ ]:
n =10
for i in range(4,0,-1):
  for j in range(0,i):
    print(n-j, end =" ")
    # n =10
  n = n-j-1
  print()

10 9 8 7
6 5 4
3 2
1

In [ ]:
# n =0
# for i in range(0,5):
#   for j in range(i):
#     n = n+j
#     print(n, end=" ")
#   n = n+1
#   print()

In [ ]:
# for i in range(1,6):
#   for j in range(0,i):
#     print(j+i,end =" ")
#   print()

In [ ]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10

In [ ]:

# removce adjacent duplicates in an array

l = []
s= "hello   hh"
for i in s:
  if l and l[-1] == i:
    l.pop()
  else:
    l.append(i)
print(''.join(l))

heo

In [ ]:
# removce adjacent duplicates in an array
class Solution:
   def solve(self, s):
      seen = s[0]
      ans = s[0]
      for i in s[1:]:
         if i != seen:
            ans += i
            seen = i
      return ans
ob = Solution()
print(ob.solve("LLLRLRR"))

In [ ]:
# Take two input from the user and validate the input given if it's integer then perform the arithmetic operation other ask fir the user

def is_integer(a):
    num='0123456789'
    for char in a:
        if char not in num:
            return False
    return True
while(True):
    a=input('Enter 1st number ')
    b=input('Enter 2nd number ')
    if is_integer(a) and is_integer(b):
        a=int(a)
        b=int(b)
        print(a+b,a-b,a/b,a%b,a//b,a**b)
        break

In [ ]:
r=5
for i in range(1,r+1):
    for j in range(1,r-i+1):
        print(" ",end='')
    for k in range(1,2*i):
        print("*",end='')
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
r=5
for i in range(r):
    for j in range(i):
        print(" ",end='')
    for k in range(1,2*(r-i)):
        print("*",end='')
    print()

*********
 *******
  *****
   ***
    *

In [ ]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *