<a href="https://colab.research.google.com/github/sudheer-k-r/python/blob/main/day3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# - Functional programming
# - Parameter vs Argument
# - Lambda functions
# - Passing argumnet to the function
# - Problem solving skills 
# - Interview question

In [ ]:
# to take a list value and create its cube if it is a integer number and make the changes on the original data on evry index

l1 = [1,2,3,4]

print(id(l1))
def cube(l1):
  print(id(l1))
  # l1 = [i**3 for i in l1]
  for i in range(len(l1)):
    l1[i] = l1[i]**3
    

cube(l1)
print(l1)

139687061164672
139687061164672
[1, 8, 27, 64]

In [ ]:
#take two numbers and find the lcm 
# Take 2 number from the user => and check whether it's integer or not
# 	- If integer find the LCM of both the number

in1 = input()
in2 = input()
if in1.isnumeric():
  in1 = int(in1)
if in2.isnumeric():
  in2 = int(in2)

res = max(in1,in2)
# print(res)
while(True):
  if(res % in1 == 0 and res%in2 ==0):
    print("res",res)
    break
  else:
    # print(res)
    res= res+1

4
8
res 8

In [ ]:
# using vlength args to find lcm
# Find lcm of multiple elements by using variable length arguments in the function

def find_lcm(*args):
    if len(args)<2:
        print("Please enter atleast 2 numbers to find LCM")
        return
    else:
        
        m=max(args)
        i=1
        lcm=m
        while True:
            count=0
            for e in args:
                if m*i%e!=0:
                    break
                else:
                    count+=1
            if count==len(args):
                lcm=m*i
                break
            i+=1
    return lcm
print(find_lcm(10,20,30,40))

120

In [ ]:
#gcd(oppsite of lcm)
# Python program to find H.C.F of two numbers

def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

In [ ]:
#assignment
# create a function which takes an parameter of string type
# 	- Accept the string in case if the string contains
# 	Vowels ( a,e,i,o,u)

# Accept the string in case if we have vowels but in even positions of the data ( all vowels)

# Otherwise return string not accepted

def vowel(str1,set1):
  str1 = str1.lower()
  flag = True
  for i in set1:
    if i not in str1:
      flag = False
  if flag == True:
    print("all are vowels")
  else:
    print("all chars not vowels")


def check_pos(str1,set1):
  flag = True
  str1 = str1.lower()
  for i in range(len(str1)):
    if i %2==0:
      # print(i)
      if str1[i] not in set1:
        flag = False
        # print("bye")
        break
      else:
        continue
  if flag == True:
    print("valid")
  else:
    print("not valid")



str1 = input("enter a string ")
set1 ="aeiou"
vowel(str1,set1)
check_pos(str1,set1)

enter a string aeiou
all are vowels
valid

In [ ]:
# None + 3

FUNCTIONAL PROGRAMMING

In [ ]:
myList = [1,2,3,4,5]
list(map(lambda n1: n1.split(), ["ghfhgdf sdhjfbhg", "sdfhghds"]))

[['ghfhgdf', 'sdhjfbhg'], ['sdfhghds']]

In [ ]:
l1 =[(2,5),(4,6),(1,3),(7,9)]

l2=list(filter(lambda x:  x[0]%2==0, l1))
l2

[(2, 5), (4, 6)]

In [ ]:
l1 = [{"name": "s1", "marks":[10,20,23,24,25]}, {"name": "s2", "marks":[10,20,23,24,25]},{"name": "s3", "marks":[10,20,23,24,25]}]

In [ ]:
(lambda x: x+20)(10)

30

In [ ]:

for i in l1:
  print(i["marks"])
# (lambda x: x[marks] )(l1)

[10, 20, 23, 24, 25]
[10, 20, 23, 24, 25]
[10, 20, 23, 24, 25]

In [ ]:
# for i in l1:
#   for j in i['marks']:
#     print(
        
print((lambda x : sum(i['marks'])/len(i['marks']))(l1))

list(map((lambda x : sum(i['marks'])/len(i['marks'])),(l1)))

20.4

[20.4, 20.4, 20.4]

In [ ]:
d1 ={"avg":(lambda x : sum(x)/len(x)) , "max" : (lambda x : max(x)), "min" : lambda x: min(x)}
d1["min"]([1,2,3])

1

In [ ]:
def find_lcm(t1):
  res = max(t1[0],t1[1])
  # print(res)
  while(True):
    if(res % t1[0] == 0 and res%t1[1] ==0):
      # print("res",res)
      return res
      # break
    else:
      # print(res)
      res= res+1

t1 = [(10,2),(3,4),(5,10)]
d2 = {"lcm" : list(map(find_lcm,t1))}
d2

{'lcm': [10, 12, 10]}

In [ ]:
#  reate a lambda function to get the table of any number
 x =list(map((lambda x: str(x*2)),[1,2,3,4,5,6,7,8,9,10]))
 print('\n'.join(x))

2
4
6
8
10
12
14
16
18
20

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
  print((lambda x: x*2)(i))

2
4
6
8
10
12
14
16
18
20